In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/kaggle/styles.csv',sep=';')

In [3]:
df.columns.value_counts()

id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName    1
Name: count, dtype: int64

In [4]:
df['id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName']

0        15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fal...
1        39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer...
2        59263,Women,Accessories,Watches,Watches,Silver...
3        21379,Men,Apparel,Bottomwear,Track Pants,Black...
4        53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,...
                               ...
44441    17036,Men,Footwear,Shoes,Casual Shoes,White,Su...
44442    6461,Men,Footwear,Flip Flops,Flip Flops,Red,Su...
44443    18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,20...
44444    46694,Women,Personal Care,Fragrance,Perfume an...
44445    51623,Women,Accessories,Watches,Watches,Pink,W...
Name: id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName, Length: 44446, dtype: object

In [5]:
df = pd.read_csv(
    "../data/raw/kaggle/styles.csv",
    sep=",",
    # engine="python",
    # quoting=3,              # csv.QUOTE_NONE
    on_bad_lines="skip"     # skip malformed rows safely
)

print(len(df.columns))
print(df.columns.tolist())

10
['id', 'gender', 'masterCategory', 'subCategory', 'articleType', 'baseColour', 'season', 'year', 'usage', 'productDisplayName']

In [6]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [7]:
df['id']

0        15970
1        39386
2        59263
3        21379
4        53759
         ...
44419    17036
44420     6461
44421    18842
44422    46694
44423    51623
Name: id, Length: 44424, dtype: int64